.popup__button {
    width: 100%;
    color: white;
    background-color: black;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 12px 0;
    
}