.popup__button {
    width: 100%;
    color: white;
    border: none;
    background: rgba(0, 0, 0, 1);
    font-family: 'Inter', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 12px 0;
}

.popup__button:hover {
    background: rgba(0, 0, 0, 0.8);
}