.header__logo {
    max-width: 142px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
}