.element__like-button {
    background: url(../../../images/VectorLikeButton.svg);
    border: none;
    min-width: 21px;
    height: 18px;
    margin-top: 30px;
}

.element__like-button:hover {
    opacity: 0.6;
}