@import url(./_occupation/popup__item_occupation.css);

.popup__item {
    border: none;
    border-bottom: 1px solid #c0c0c0 ; 
   /* opacity: 0.2;*/
    width: 100%;
    margin-top: 32px;
    margin-bottom: 40px;
    
}

